/* regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 254, 159);
}

.row {
  height: 200px;
}

[class*="col-"]{
  border: 1px solid black;
  height: 100%;
  position: relative;
  background-color: lightblue;
}

.row [class*="col-"] p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* regole specifiche */
#small{
  height: 140px;
  text-align: center;
}

#small [class*="col-"] p{
  position: absolute;
  top: 0;
  transform: translate(-50%);
}

#nested [class*="col-"] .row {
  padding: 5px;
}

#nested [class*="col-"] .row [class*="col-"] {
  background-color: rgb(102, 107, 232);
  border: 1px solid white;
}

[class*="col-offset-"]{
  border: 0;
}
